/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

/* ---- Base Rules ---- */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(0deg, rgb(176, 194, 75) 0%, rgb(14, 49, 4) 100%);
    margin: 0;
}

/* Typography General*/
h1 {
    font-size: 1.5em;
    margin: 2em 1rem;
    color: rgb(255, 255, 255);
}

h2 {
    border-bottom: 2px solid rgba(0, 0, 0, 0.411);
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.5em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 97vh;
    max-height: 97vh;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar__menu ul {
    margin: 0;
    text-align: center;
}

.navbar__menu li {
    padding: 1.5em;
    display: inline-block;
    font-size: large;
}

.navbar__menu li a {
    text-decoration: none;
    transition: all 100ms ease-in-out;
}
/* To override default link color */
a {
    color: #fff;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
}

.navbar__menu .menu__link:hover {
    transition: ease 0.3s all;
}

/* Navbar active state rules */
.active {
    font-weight: bolder;
}
.active a:-webkit-any-link {
    color: rgb(178, 201, 96);
}

.firstScreen {
    height: 97vh;
}

/* Button styles */
/* Button styles */
#go__back {
    display: none;
    position: fixed;
    bottom: 3em;
    right: .5em;
    z-index: 100;
    border: none;
    outline: none;
    background-color: rgba(7, 61, 143, 0.842);
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: xx-large;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#go__back:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Header Styles */
.page__header {
    position: fixed;
    display: flex;
    background: rgba(0, 0, 0, 0.829);
    top: 0;
    width: 100%;
    min-height: 10vh;
    z-index: 5;
    transition: top 0.3s;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 1em;
    color: #fff;
}

.page__footer p {
    color: #fff;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* Background Circles */
/* Note that background circles are created with pseudo elements before and after */
/* Circles appear to be random do to use of :nth-of-type pseudo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: black;
    box-shadow: 1em 1em 2em rgba(22, 22, 22, 0.445);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}

/* MEDIA QUERIES */
@media only screen and (max-device-width: 1000px) {
    section {
        min-height: 60vh;
    }
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 660px) {
    h1 {
        margin: 2em 1em 1em;
        font-size: 3em;
        margin-bottom: 0;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 660px) {
    h2 {
        font-size: 2em;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 660px) {
    .navbar__menu li {
        padding: .4em;
        font-size: small;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 660px) {
    #navbar__list {
        padding-inline-start: 0;
    }
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}